{% extends "src/base.html" %}


{% load static %}
{% block js_add %}
    <script src="{% static 'js/form_creation.js' %}"></script>
    <script>
        let arr = [];
    </script>
    <script type="module">
        import {Toast} from 'bootstrap.esm.min.js'

        Array.from(document.querySelectorAll('.toast'))
            .forEach(toastNode => new Toast(toastNode))
    </script>
{% endblock %}

{% block title %}
    Создание формы
{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form_creation.css' %}"/>


    <div class="container">

        <button type="button" class="btn btn-primary" onClick="window.history.back();return false;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"></path>
            </svg>
            К заказу
        </button>
        <form onsubmit="event.preventDefault();saveConfig();saveDurRepConfig();">
            <div class="row justify-content-center">
                {#            {{ form.duration }}#}
                <div class="col-auto">
                    <div id="time_wrapper">
                        <div id="time_input">
                            <label for="minutes">
                                <input type="number" id="minutes" value="00" max="59" min="15">
                                <span class="label lbl-min">минуты</span>
                            </label>
                            <span>:</span>
                            <label for="seconds">
                                <input type="number" id="seconds" value="00" max="59" min="0">
                                <span class="label lbl-sec">секунды</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-auto mx-5">
                    <div id="time_wrapper">
                        <div id="time_input">
                            <label for="repeats">
                                <input type="number" id="repeats" value="01" max="10" min="1">
                                <span class="label lbl-repeats">повторений</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success mb-2">Сохранить форму</button>
        </form>
        <div class="row">
            <div class="col-3">

                <div class="list-group">
                    <div class="list-group-item list-group-item-action list-group-item-light">
                        <div class="container text-center">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    Один вариант
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-success"
                                            onclick="addFormLine(this, 'chose')">
                                        +
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-auto">

                {#                <p>Drag the logo into the rectangle:</p>#}
                {##}
                {#                <div class="border border-dark border-5" id="div1" style="min-height: 100px;"#}
                {#                     ondrop="drop(event)" ondragover="allowDrop(event)"></div>#}
                {#                <br>#}
                <div class="border border-dark border-5" id="form_zone"
                     style="min-height: 100px; min-width: 800px">

                    {#                    <div class="container list-group-item list-group-item-action list-group-item-secondary"#}
                    {#                         style="min-height:75px;">#}
                    {#                        <div class="row">#}
                    {#                            <div class="col col-auto">#}
                    {#                                <h5>Тут вопрос</h5>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <div class="row justify-content-between">#}
                    {#                            <div class="col col-auto">#}
                    {#                                Тут указание на тип вопроса#}
                    {#                            </div>#}
                    {#                            <div class="col col-auto">#}
                    {#                                <button type="button" class="btn btn-secondary">#}
                    {#                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"#}
                    {#                                         class="bi bi-chevron-up" viewBox="0 0 16 16">#}
                    {#                                        <path fill-rule="evenodd"#}
                    {#                                              d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"></path>#}
                    {#                                    </svg>#}
                    {#                                </button>#}
                    {#                                <button type="button" class="btn btn-secondary">#}
                    {#                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"#}
                    {#                                         class="bi bi-chevron-down" viewBox="0 0 16 16">#}
                    {#                                        <path fill-rule="evenodd"#}
                    {#                                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>#}
                    {#                                    </svg>#}
                    {#                                </button>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="modal_content">

            </div>
        </div>
    </div>

{% endblock content %}