{% extends "src/base.html" %}
{% block title %} Домашняя страница {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Добро пожаловать, {{user.first_name.title|default:'Guest'}}</h1>
        <p class="lead">
            Это <b>система регистраци пользоватял</b>
        </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'users:logout' %}" role="button">Выйти</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'users:login' %}" role="button">Войти</a>
            {% endif %}
        </p>
    </div>

{% endblock content %}